/* Font Baloo 2 */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
* {
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    /* background-color: blueviolet; */
    padding: 20px 20px;
}
.logo{
    margin-left: 60px;
}
.CidadeCarinho{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-right: 60px; */
}
#cidade{
    padding: 15px 50px;
    margin-right: 20px;
    background-color: #EBE5F9;
    color: #4B2995;
    border-radius: 5px;
}
#cidade > img{
    padding: 0%;
    margin-right: 5px;
    height: 15px;
}
#cidade > p{
    display: inline;
}
#carinho{
    background-color: #F1E9C9;
    border-radius: 5px;
}
#carinho > img{
    height: 45px;
    width: 45px;
}

/* Section */
.intro {
    margin: 146px 60px 50px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#text{
    max-width: 650px;
}
#text > h1{
    font-family: "Baloo 2";
    font-size: 32px;
}

/* Itens da Section */

#itens1{
    margin-top: 40px;
    display: flex;
    border: 3px solid blue;
}
#itens2{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
#text{
    border: 5px solid orange;
}
#item1, #item2, #item3, #item4{
    width: 260px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    border: 1px solid aqua;
}
#item1, #item2, #item3, #item4 > p{
    margin-left: 0px;
}

@media (min-width: 500px){
    #itens1{
        display: flex;
        flex-wrap: wrap;
        width: 550px;
    }

}

@media (max-width: 1055px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    body{
        background-image: none;   
    }
    .intro{ 
        display: block;
    }
    #text > h1{
        width: 100%;
    }
    #img{
        margin-top: 50px;
        display: block;
        /* border: 5px solid orange; */
    }
}

@media (max-width: 660px){
    #img > img{
        width: 500px;
    }
    .intro{
        display: block;
    }
    #itens1{
        display: block;
    }
    #text{
        border: 2px solid orange;
    }
}

@media (max-width: 500px) {
    .logo{
        margin: 0px;
    }
    .CidadeCarinho{
        margin-right: 0px;
        padding-right: 0px;
        
    }
    .intro{
     margin-top: 70px;   
    }

    #cidade{
        background-color: #EBE5F9;
        color: #4B2995;
        padding: 15px 10px;
    }
    
    #img > img {
        width: 250px;
    }
    * {
        font-size: 10px;
    }
    h4{
        font-size: 15px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #item2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid aqua;
    }
    #item2 > p {
        font-size: 15px;
        margin: 15px;
    }
    #text{
        border: 2px solid #4B2995;
    }
}