/* Font Baloo 2 */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
* {
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    /* background-color: blueviolet; */
    padding: 20px 20px;
}
.logo{
    margin-left: 60px;
}
.CidadeCarinho{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-right: 60px; */
}
#cidade{
    padding: 15px 50px;
    margin-right: 20px;
    background-color: #EBE5F9;
    color: #4B2995;
    border-radius: 5px;
}
#cidade > img{
    padding: 0%;
    margin-right: 5px;
    height: 15px;
}
#cidade > p{
    display: inline;
}
#carinho{
    background-color: #F1E9C9;
    border-radius: 5px;
}
#carinho > img{
    height: 45px;
    width: 45px;
}

/* Section */
.intro {
    margin: 146px 60px 50px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#text{
    max-width: 650px;
}
#text > h1{
    font-family: "Baloo 2";
    font-size: 48px;
    font-weight: 800;
}
#text > h4 {
    font-size: 20px;
    font-weight: 400;
}
/* Itens da Section */

#itens1{
    margin-top: 40px;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    
}
#itens2{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
#item1, #item2, #item3, #item4{
    width: 260px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

}
#item3, #item4 {
    margin-top: 10px;
}
.pItens{
    margin-left: 5px;
}

/* Coffee List */

#coffeeList{
    margin: 10px 60px 50px 60px;

}
#coffeeList > p{
    font-size: 32px;
    font-weight: 800;
}
#listaDeCafes{
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
/* Café tradicional */
#expressTradicional{
    background: #F3F2F2;
    border-radius: 6px 32px 6px 32px;
    width: 256px;
    height: 310px;
    border: 2px solid orange;
}
#expressTradicional > div{
    display: flex;
    justify-content: center;
}
#expressTradicional > div > #p1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 21px;
    font-size: 10px;
    font-weight: 700;
    border-radius: 100px;
    background: #F1E9C9;
    color: #C47F17;
    margin: 10px 0px 10px 0px;
}
#expressTradicional  #p2 {
    margin: 10px 36px 10px 36px;
    color: #8D8686;
    font-size: 14px;
    font-weight: 400;
}
#expressTradicional #valor #p2 {
    margin: 0px;
    color: #574F4D;
}
#expressTradicional #valor{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
#expressTradicional #qtda{
    background-color: #E6E5E5;
    padding: 8px;
    border-radius: 6px;
}
#expressTradicional #carinho {
    background: #4B2995;
    padding: 8px;
    border-radius: 6px;
}
#expressTradicional  span{
    font-family: "Baloo 2";
    font-size: 24px;
    font-weight: 800;
}
#valor > #qtda > img {
    width: 14px;
    height: 14px;
}
/* -------------------------------------------- */
/* Café americano */
#expressAmericano{
    background: #F3F2F2;
    border-radius: 6px 32px 6px 32px;
    width: 256px;
    height: 310px;
    border: 2px solid orange;
}

#expressAmericano > div{
    display: flex;
    justify-content: center;
}
#expressAmericano > div > p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 21px;
    font-size: 10px;
    font-weight: 700;
    border-radius: 100px;
    background: #F1E9C9;
    color: #C47F17;
    
}
#expressAmericano > #p2 {
    margin: 0px 36px 0px 36px;
    color: #8D8686;
    font-size: 14px;
    font-weight: 400;
}

/* -------------------------------------------- */
/* Cafe Cremoso */
#expressCremoso{
    background: #F3F2F2;
    border-radius: 6px 32px 6px 32px;
    width: 256px;
    height: 310px;
    border: 2px solid orange;
}

#expressCremoso > div{
    display: flex;
    justify-content: center;
}
#expressCremoso > div > p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 21px;
    font-size: 10px;
    font-weight: 700;
    border-radius: 100px;
    background: #F1E9C9;
    color: #C47F17;
    
}

/* Cafe Gelado */
#expressGelado{
    background: #F3F2F2;
    border-radius: 6px 32px 6px 32px;
    width: 256px;
    height: 310px;
    border: 2px solid orange;
}

#expressGelado > div{
    display: flex;
    justify-content: center;
}
#expressGelado > div > p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 21px;
    font-size: 10px;
    font-weight: 700;
    border-radius: 100px;
    background: #F1E9C9;
    color: #C47F17;
}
#pGelado{
    margin-left: 5px;
}

@media (max-width: 1055px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    body{
        background-image: none;   
    }
    .intro{ 
        display: block;
    }
    #text > h1{
        width: 100%;
        font-size: 30px;
    }
    #img{
        margin-top: 50px;
        display: block;
    }
}


@media (max-width: 660px){
    #img > img{
        width: 500px;
    }
    .intro{
        display: block;
    }
    #itens1{
        display: block;
    }
    #item2{
        margin-top: 10px;
    }
    #text > h1 {
        font-size: 25px;
    }
}

@media (min-width: 500px){
    #itens1{
        display: flex;
        flex-wrap: wrap;
        width: 550px;
    }
}

@media (max-width: 500px) {
    .logo{
        margin: 0px;
    }
    .CidadeCarinho{
        margin-right: 0px;
        padding-right: 0px;
    }
    .intro{
     margin-top: 70px;   
    }

    #cidade{
        background-color: #EBE5F9;
        color: #4B2995;
        padding: 15px 10px;
    }
    
    #img > img {
        width: 250px;
    }
    * {
        font-size: 15px;
    }
    h4{
        font-size: 15px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    #item2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
    }
    
}